.header {
    position: sticky;
    top: 0;
    left: 0;
    width: max-width;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header .logo img{
    position: fixed;
    height: auto;
    top: 2px;
    width: 115px;
}
.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
    margin-left: 35px;
}
.navbar a::before{
    content: '';
    position :absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}
.navbar a:hover::before{
    width: 100%;
}
.header .hamburger-menu-button {
    display: none; /* Initially hide */
    font-size: 24px;
    cursor: pointer;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .navbar {
    display: flex;
  }
  .header .navbar.nav-active {
    display: flex; /* Show when active */
  }
  .header .hamburger-menu-button img {
 /* Initially hide on larger screens */
  font-size: 24px;
  cursor: pointer;
  position: absolute; /* Or position: fixed; */
  top: 0;
  right: 0;
  margin: 10px; 
  z-index: 1000;
  width: 25px; /* Adjust image width as needed */
  height: auto; /* Maintain aspect ratio */
  }
